/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 68%;
    margin: auto;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn{
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: rgb(39, 118, 245);
    padding: 5px 30px;
    vertical-align: middle;
    text-align: center;
}

.btn:hover{
    color: lightgray;
}


h2{
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 60px;
}

h3{
    font-size: 28px;
    margin-bottom: 25px;
}

p{
    font-size: 16px;
}
/* +++ /COMMONS +++ */



/* +++ HEADER +++ */
header{
    line-height: 80px;
}

header .container{
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: white;
}

header #logo, header #start{
    width: 10%;
    text-align: center;
}

header #logo img{
    vertical-align: middle;
}

header nav{
    width: 80%;
    text-align: center;
}

header nav ul{
    text-decoration: none;
    list-style-type: none;
}

header nav li{
    display: inline-block;
    margin: 0 1.5%;
    vertical-align: middle;
}

header nav li:nth-of-type(3){
    margin-right: 33%;
}

header a{
    text-decoration: none;
    font-weight: 500;
}

header nav a{
    color: black;
    font-size: 17px;
}

header nav a:hover{
    text-decoration: underline;
}
/* +++ /HEADER +++ */

/* +++ JUMBOTRON +++ */
#jumbo{
    background-color: rgb(184, 222, 253);
}

#jumbo .container{
    width: 78%;
    padding: 160px 0 130px 0;
    position: relative;
}

#jumbo h1{
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 1px;
}

#jumbo p{
    width: 28%;
    font-size: 16px;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}

#jumbo .container div:first-of-type{
    font-weight: 600;
    font-size: 14px;
    margin-top: 12px;
}

#jumbo i{
    font-size: 40px;
    margin-top: 40px;
}

#jumbo img{
    width: 65%;
    position: absolute;
    right:0;
    top:50%;
}
/* +++ /JUMBOTRON +++ */


/* +++ MAIN +++ */
/* Main Commons */
main{
    font-size: 15px;
}

a.normal-link{
    color: rgb(0, 75, 236);
}

a.normal-link:visited{
    color: rgb(39, 118, 245);
}

hr{
    width: 20%;
    color: lightgray;
    margin: 30px 0 30px 0;
}
/* /Main Commons */

/* +++ SEZIONE PIANI +++ */
/* Piani Commons */
#piani .colonna{
    margin-top: 30px;
    border: 2px solid lightgrey;
}

#piani .container{
    font-weight: 500;
}

#piani .titolo{
    text-align: center;
    line-height: 50px;
    border-bottom: 2px solid lightgray;
}

#piani .titolo i{
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

#piani .corpo{
    padding: 30px;
}

#piani .corpo .icona, #piani .corpo .testo{
    display: inline-block;
}

#piani .corpo .icona{
    vertical-align: top;
}

#piani .corpo .testo{
    width: 90%;
}

#piani .corpo .prezzo{
    font-size: 20px;
}
/* /Sezione piani Commons */

/* Intro */
#piani>.container{
    padding-top: 200px;
}

#piani #intro [type='radio']{
    transform: scale(1.5);
    margin: 0 5px 0 3px;
}

#piani #intro span{
    margin-right: 20px;
}
/* / Intro */

/* Popolari */
#piani #popolari .colonna{
    min-height: 1000px;
    width: calc((100% - 120px) / 3);
}

#piani #popolari .colonna:nth-of-type(2){
    margin: 30px 60px;
}

#piani #popolari .corpo .prezzo strong::after{
    content:"\20AC";
}

#piani #popolari .corpo .periodo{
    margin: 10px 0 50px 0;
    font-size: 15px;
    color: gray;
}

#piani #popolari .corpo .archiviazione{
    margin: 25px 0 25px 0;
}

#piani #popolari .corpo .btn{
    width: 100%;
    margin: 50px 0 20px 0;
    font-weight: 500;
}

#piani #popolari .corpo ul li{
    margin-top: 30px;
    margin-left: 20px;
}

#piani #popolari .corpo ul li::marker{
    content:"\2714  ";
    color: rgb(39, 118, 245);
}
/* / Popolari */

/* Enterprise */
#enterprise .corpo .box:first-of-type{
    width: calc((75%));
}

#enterprise .corpo .box:last-of-type{
    width: calc((25%));
}

#enterprise .btn{
    width: 100%;
}

#enterprise p{
    margin-top: 20px;
}
/* /Enterprise */
/* +++ /SEZIONE PIANI +++ */

/* +++ SEZIONE PARTNER +++ */
#partner{
    padding-top: 150px;
}

#partner .box{
    width: 50%;
}

#partner .box:last-of-type{
    width: 45%;
    padding-top: 40px;
}

#partner .box .btn{
    margin-top: 25px;
    color: black;
    background-color: white;
    border: 2px solid grey;
}

#partner img{
    width: 100%;
}

#partner p{
    line-height: 30px;
}
/* +++ /SEZIONE PARTNER +++ */

/* +++ SEZIONE OPERAZIONI +++ */
#operazioni .container{
    padding-top: 80px;
}

#operazioni .card{
    width: calc((100% - 120px) / 3);
    margin-bottom: 80px;
}

#operazioni .card:nth-of-type(2), #operazioni .card:nth-of-type(5){
    margin: 0 60px;
}

#operazioni img{
    width: 100%;
}

#operazioni p{
    line-height: 25px;
}
/* +++ /SEZIONE OPERAZIONI +++ */

/* +++ SEZIONE AZIENDE +++ */

/* Aziende Top */
#aziende-top .box{
    width: 50%;
    padding-top: 80px;
}
/* /Aziende Top */

/* Aziende Body */
#aziende-body.container{
    width: 100%;
    margin-top: 50px;
}

#aziende-body .box-lato{
    width: 30vw;
}

#aziende-body .logobox{
    width: 15vw;
    height: 15vw;
    position: relative;
}

#aziende-body .box-lato img{
    width: 50%;
    filter: invert(100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#aziende-body .box-lato:first-of-type .logobox:nth-of-type(1){
    background-color: rgb(176, 221, 156);
    border: .6vw solid rgb(226, 255, 214);
}

#aziende-body .box-lato:first-of-type .logobox:nth-of-type(2){
    background-color: rgb(82, 39, 46);
}

#aziende-body .box-lato:first-of-type .logobox:nth-of-type(3){
    background-color: rgb(66, 160, 223);
}

#aziende-body .box-lato:first-of-type .logobox:nth-of-type(4){
    background-color: rgb(238, 71, 41);
}

#aziende-body .box-lato:last-of-type .logobox:nth-of-type(1){
    background-color: rgb(189, 44, 18);
}

#aziende-body .box-lato:last-of-type .logobox:nth-of-type(2){
    background-color: rgb(172, 199, 218);
}

#aziende-body .box-lato:last-of-type .logobox:nth-of-type(3){
    background-color: rgb(41, 55, 133);
}

#aziende-body .box-lato:last-of-type .logobox:nth-of-type(4){
    background-color: rgb(235, 203, 60);
}

#aziende-body .box-centro{
    max-width: calc(100% - 60vw);
    height: 30vw;
    padding: 3%;
    background-color: rgb(246, 246, 246);
}

#aziende-body .box-centro img{
    width: 30%;
}

#aziende-body .box-centro hr{
    width: 10%;
    color: rgb(243, 243, 243);
}

#aziende-body p{
    line-height: 25px;
    padding: 15px 0 25px 0;
}
/* /Aziende Body */

/* Aziende Bottom */
#aziende-bottom{
    padding-top: 100px;
    width: 100%;
    background-color: rgb(184, 222, 253);
}

#aziende-bottom .box:first-of-type{
    width: 50%;
    margin-right: 250px;
}

#aziende-bottom h2{
    color: rgb(85, 7, 33);
}

#aziende-bottom .box:last-of-type{
    width: 27%;
}

#aziende-bottom .btn{
    width: 100%;
    color: rgb(41, 41, 41);
    background-color: white;
}

/* /Aziende Bottom */
/* +++ /SEZIONE AZIENDE +++ */


/* +++ SEZIONE FAQ +++ */


/* +++ /SEZIONE FAQ +++ */
/* +++ /MAIN +++ */


/* +++ FOOTER +++ */
/* +++ /FOOTER +++ */




/* +++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* +++ DEBUG +++ */


/* HEADER */
/* header.debug{
    background-color: pink;
}

header.debug #logo{
    background-color: violet;
}

header.debug nav{
    background-color: deeppink;
}

header.debug #start{
    background-color: purple;
} */
/* /HEADER */

/* PIANI */
/* .debug #piani .container{
    background-color: deeppink;
}

.debug #piani .colonna{
    background-color: pink;
}

.debug #piani .titolo{
    background-color: lightgrey;
}

.debug #piani .corpo .container{
    background-color: lightsalmon;
}

.debug #enterprise{
    background-color: purple;
}

.debug .box:first-of-type{
    background-color: lightyellow;
}
.debug .box:last-of-type{
    background-color: lightpink;
} */
/* /PIANI */

/* OPERAZIONI */
/* .debug #operazioni .container{
    background-color: lightgrey;
}

.debug #operazioni .card:nth-of-type(even){
    background-color: deeppink;
}

.debug #operazioni .card:nth-of-type(odd){
    background-color: deepskyblue;
} */
/* /OPERAZIONI */

/* AZIENDE */
/* .debug #aziende-body{
    background-color: rgb(255, 195, 227);
}

.debug #aziende-body.container{
    background-color: black;
}

.debug #aziende-body .box-lato{
    background-color: red;
}

.debug #aziende-body .box-centro{
    background-color: rgb(246, 246, 246);
}

.debug #aziende-body .logobox:nth-of-type(2), .debug #aziende-body .logobox:nth-of-type(3){
    background-color: rgb(255, 20, 147);
}

.debug #aziende-body .logobox:nth-of-type(1), .debug #aziende-body .logobox:nth-of-type(4){
    background-color: deepskyblue;
}

.debug #aziende-bottom{
    background-color: purple;
} */
/* /AZIENDE */

/* +++ /DEBUG +++ */