/* +++ COMMONS +++ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 70%;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.left{
    float: left;
}

.right{
    float: right;
}

.btn{
    display: inline-block;
    line-height: 30px;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: rgb(39, 118, 245);
    padding: 5px 30px;
    vertical-align: middle;
}

.btn:hover{
    color: lightgray;
}
/* --- /COMMONS --- */



/* +++ HEADER +++ */
header{
    line-height: 80px;
}

header .container{
    width: 100vw;
    position: fixed;
    z-index: 1;
    background-color: white;
}

header #logo, header #start{
    width: 10%;
    text-align: center;
}

header #logo img{
    vertical-align: middle;
}

header nav{
    width: 80%;
    text-align: center;
}

header nav ul{
    text-decoration: none;
    list-style-type: none;
}

header nav li{
    display: inline-block;
    margin: 0 1.5%;
    vertical-align: middle;
}

header nav li:nth-of-type(3){
    margin-right: 33%;
}

header a{
    text-decoration: none;
    font-weight: 500;
}

header nav a{
    color: black;
    font-size: 17px;
}

header nav a:hover{
    text-decoration: underline;
}
/* --- /HEADER --- */



/* +++ MAIN +++ */

/* Jumbotron */
#jumbo{
    background-color: rgb(184, 222, 253);
}

#jumbo .container{
    width: 80%;
    padding: 160px 0 120px 0;
    margin:auto;
    position: relative;
}

#jumbo h1{
    font-size: 80px;
}

#jumbo p{
    width: 30%;
    font-weight: 500;
    margin-top: 50px;
    margin-bottom: 30px;
}

#jumbo .container div:first-of-type{
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

#jumbo i{
    font-size: 40px;
    margin-top: 40px;
}

#jumbo img{
    width: 60%;
    position: absolute;
    right:5%;
    top:55%;
}
/* /Jumbotron */


/* Sezione piani */

/* /Sezione piani */

/* --- /MAIN --- */



/* +++ FOOTER +++ */
/* --- /FOOTER --- */



/* +++ DEBUG +++ */
header.debug{
    background-color: pink;
}

header.debug #logo{
    background-color: violet;
}

header.debug nav{
    background-color: deeppink;
}

header.debug #start{
    background-color: purple;
}
/* --- /DEBUG --- */